{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Order Summary</h1>
    <div class="w-full mb-8">
        <!-- Order List -->
        <div class="w-full">
            <h2 class="text-2xl font-bold mb-4">Your Orders:</h2>
            {% if object %}
                <ul>
                    {% for order_item in object.items.all %}
                        <li class="flex items-center justify-between mb-4">
                            <div>
                                {{ order_item.item.name }} -
                                {% if order_item.is_half_portion %}
                                    Half Portion - Price: ${{ order_item.item.min_price }}
                                {% else %}
                                    Full Portion - Price: ${{ order_item.item.max_price }}
                                {% endif %}
                            </div>
                            <div class="flex items-center">
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}" class="btn bg-gray-500 text-white p-2">-</a>
                                <span class="px-4">{{ order_item.quantity }}</span>
                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class="btn bg-gray-500 text-white p-2">+</a>
                            </div>
                            <div class="ml-4">
                                Total: $
                                {% if order_item.is_half_portion %}
                                    {{ order_item.quantity|multiply:order_item.item.min_price }}
                                {% else %}
                                    {{ order_item.quantity|multiply:order_item.item.max_price }}
                                {% endif %}
                            </div>
                            <div class="ml-4">
                                <a href="{% url 'core:remove-from-cart' order_item.item.slug %}" class="btn btn-danger">Remove</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="my-4">
                <p class="text-lg font-bold">Total: ${{ object.get_total }}</p>
            {% elif order_items %}
                <ul>
                    {% for order_item in order_items %}
                        <li class="flex items-center justify-between mb-4">
                            <div>
                                {{ order_item.item.name }} -
                                {% if order_item.is_half_portion %}
                                    Half Portion - Price: ${{ order_item.price }}
                                {% else %}
                                    Full Portion - Price: ${{ order_item.price }}
                                {% endif %}
                            </div>
                            <div class="flex items-center">
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}" class="btn bg-gray-500 text-white p-2">-</a>
                                <span class="px-4">{{ order_item.quantity }}</span>
                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class="btn bg-gray-500 text-white p-2">+</a>
                            </div>
                            <div class="ml-4">
                                Total: $
                                {% if order_item.is_half_portion %}
                                    {{ order_item.quantity|multiply:order_item.item.min_price }}
                                {% else %}
                                    {{ order_item.quantity|multiply:order_item.item.max_price }}
                                {% endif %}
                            </div>
                            <div class="ml-4">
                                <a href="{% url 'core:remove-from-cart' order_item.item.slug %}" class="btn btn-danger">Remove</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="my-4">
                <p class="text-lg font-bold">Total: ${{ total }}</p>
            {% else %}
                <p>You do not have any items in your cart.</p>
            {% endif %}
        </div>
    </div>
    <div class="w-full mb-8">
        <!-- Order Form -->
        <h2 class="text-2xl font-bold mb-4">Place Your Order:</h2>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required><br><br>
            <label for="table">Table Number:</label>
            <input type="text" id="table" name="table" required><br><br>
            <button type="submit" class="btn bg-blue-500 p-2 rounded-lg">Place Order</button>
        </form>
    </div>
</div>
{% endblock %}
