{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-8">
    <form method="post" action="">
        {% csrf_token %}
        <div class="container mx-auto py-8">
            <h1 class="text-3xl font-bold text-center mb-8">Payment Methods</h1>
            <div class="w-full">
                <p class="text-xl font-semibold mb-4">Total Amount: ₹{{ total }}</p>
                <div class="flex flex-col">
                    <button id="razorpay-button" class="bg-yellow-500 text-white font-semibold py-2 px-4 rounded-lg mb-4 text-center">Pay with UPI</button>
                    <button id="pay-cash-button" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg mb-4 text-center">Pay With Cash</button>
                </div>
                <div id="qrCodeSection" class="hidden text-center">
                    <img id="qrCodeImage" src="" alt="QR Code">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('razorpay-button').addEventListener('click', function (e) {
        e.preventDefault();
        processPayment('razorpay');
    });

    document.getElementById('pay-cash-button').addEventListener('click', function(e) {
        e.preventDefault();
        processPayment('cash');
    });

    function processPayment(payment_method) {
        fetch("{% url 'core:payment-method' order_id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': `{{ csrf_token }}`
            },
            body: JSON.stringify({ payment_method: payment_method })
        })
        .then(response => response.json())
        .then(data => {
            if (payment_method === 'cash') {
                alert("Order created successfully. You will be redirected to the thank you page.");
                window.location.href = '{% url "core:thank-you" order_id %}';
                sessionStorage.removeItem('cart');
            } else {
                const options = {
                    "key": data.razorpay_key_id,
                    "amount": data.amount,
                    "currency": "INR",
                    "name": data.name,
                    "order_id": data.razorpay_order_id,
                    "handler": function (response) {
                        const paymentForm = new FormData();
                        paymentForm.append('razorpay_payment_id', response.razorpay_payment_id);
                        paymentForm.append('razorpay_order_id', response.razorpay_order_id);
                        paymentForm.append('razorpay_signature', response.razorpay_signature);
                        paymentForm.append('payment_method', 'razorpay');

                        fetch("{% url 'core:payment-method' order_id %}", {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': `{{ csrf_token }}`
                            },
                            body: paymentForm
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert("Payment Successful");
                            window.location.href = '{% url "core:thank-you" order_id %}';
                            sessionStorage.setItem('customer_name', data.customer_name);
                        })
                        .catch(error => console.error("Error:", error));
                    },
                    "prefill": {
                        "name": data.name,
                        "email": data.email,
                        "contact": data.contact
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                const rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    alert("Payment Failed. Please try again.");
                    console.error("Payment Failed", response);
                });
                rzp1.open();
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock %}
