{% extends 'base.html' %}


{% block content %}
<div class="container mx-auto py-8">
    <form method="post" action="">
        {% csrf_token %}
        <div class="container mx-auto py-8">
            <h1 class="text-3xl font-bold text-center mb-8">Payment Methods</h1>
            <div class="w-full">
                <p class="text-xl font-semibold mb-4">Total Amount: ${{ total }}</p>
                <div class="flex flex-col">
                    <a href="#" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg mb-4 text-center">Pay with UPI</a>
                    <a href="#" class="bg-green-500 text-white font-semibold py-2 px-4 rounded-lg mb-4 text-center">Pay with PhonePe</a>
                    <button onclick="onGooglePaymentButtonClicked()" class="bg-yellow-500 text-white font-semibold py-2 px-4 rounded-lg mb-4 text-center">Pay with Google Pay</button>
                    <button onclick="showQRCode()" class="bg-purple-500 text-white font=semibold py-2 px-4 rounded-lg mb-4 text-center">Pay with QR Code</button>
                </div>
                 <div id="qrCodeSection" class="hidden text-center">
                    <img id="qrCodeImage" src="" alt="QR Code">
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Proceed to Payment</button>
        </div>
    </form>
</div>
<script>
    function showQRCode() {
        const qrCodeSection = document.getElementById('qrCodeSection');
        const qrCodeImage = document.getElementById('qrCodeImage');
        qrCodeImage.src = `{% url 'generate-qr-code' pk=order.pk %}`;
        qrCodeSection.classList.remove('hidden');
    }

    // Google Pay Integration

    function onGooglePayLoaded(){
        const paymentsClient = new google.payments.api.PaymentsClient({environment: 'TEST'});

        const button = paymentsClient.createButton({
            onclick: onGooglePaymentButtonClicked
        });
        document.getElementById('google-pay-container').appendchild(button);
    }

    function getGooglePaymentDataConfiguration(){
        return {
            marchantId: "your-merchent-id",
            paymentMethodTokenizationParameters:{
                tokenization: 'PAYMENT_GATEWAY',
                parameter : {
                    'gateway': 'example',
                    'gatewayMerchantId': 'exampleGatewayMerchantId'
                }
            },
            allowedPaymentmethods: ['CARD', 'UPI', 'TOKENIZED_CARD'],
            cardRequirements: {
                allowedCardNetworks: ['AMEX', 'DISCOVER', 'JCB', 'MASTERCARD', 'VISA'],
                billingAddressRequired: false
            },
            phoneNumberRequired:true,
            emailRequired: true,
            shippingAddressRequired: false
        };
    }

    function onGooglePaymentButtonClicked(){
        const paymentsClient = new google.payments.api.PaymentsClient({ environment: 'TEST'});
        paymentsClient.loadPaymentData(getGooglePaymentDataConfiguration()).then(function(paymentData){
            processPayment(paymentData)
        }).catch(function(err){
            console.error('Error processing payment', err);
        });
    }

    function processPayment(paymentData){
        fetch("{% url 'payment' order.order_id %}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X.CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                token: paymentData.paymentMethodData.tokenizationData.token
            })
        }).then(function(response){
            return response.json();
        }).then(function(data){
            if (data.success){
                window.location.href ="{% url 'thankyou' order.order_id %}";
            } else{
                alert("Payment failed. Please try again.")
            }
        }).catch(function(error){
            console.error("Error": error);
        });
    }

</script>
    <script async="https://pay.google.com/gp/p/js/pay.js", onload="onGooglePayLoaded()"></script>
{% endblock%}