{% extends 'base.html' %}
{% block content %}
   <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold text-center mb-8">Menu</h1>
        <div class="w-full">
            <!-- Category Bar -->

            <div class="w-full mb-8">
                {% for category in categories %}
                <button
                    class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 w-full text-left rounded-lg mb-2">{{ category.name }}</button>

                <div class="hidden">
                    {% if category.items.all %}
                        <p>Items:</p>
                        <ul>
                        {% for item in category.items.all %}
                            <li>{{ item.name }} - {{ item.max_price }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No items found for this category.</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.bg-gray-200').forEach(button => {
            button.addEventListener('click', () => {
                button.nextElementSibling.classList.toggle('hidden');
            });
        });
    </script>

{% endblock %}
